# Setup

## Create environment

```
conda create --name risks -c conda-forge python=3.11.11 numpy pandas matplotlib seaborn scikit-learn=1.3.1 scipy=1.9.3 sqlalchemy xgboost=2.0.3
```

Then activate the environment with ```conda activate risks```

Then install the other channels packages

```
conda install -c conda-forge pyjanitor scikit-plot yellowbrick imbalanced-learn cloudpickle

conda install -c districtdatalabs yellowbrick

conda install -c conda-forge streamlit

pip install notebook==5.7.8 jupyter_client jupyter_contrib_nbextensions category_encoders==2.6.2

pip install streamlit-echarts

pip install pipreqs
```

Then export the yml

```
conda env export > risks.yml
```

To load from the yml: ```conda env create -f environment.yml```

## Import packages

In [2]:
import os 
import numpy as np
import pandas as pd
%config IPCompleter.greedy=True

## Create initial datasets

In [13]:
data = pd.read_csv('../../02_Data/01_Originals/loans.csv')

In [14]:
data.head()

,client_id,employment,employment_duration,income,verified_income,rating,dti,housing,num_mortgages,num_credit_lines,...,loan_id,description,purpose,principal,interest_rate,num_installments,installment_amount,amount_amortized,status,amount_recovered
0,137387967,Hvac technician,3 years,54000.0,Source Verified,A,19.31,MORTGAGE,2.0,10.0,...,NaN,NaN,debt_consolidation,15000.0,7.21,36 months,464.60,2669.06,Current,0.0
1,4798121,"Target Promotions and Marketing,Inc",10+ years,65000.0,Not Verified,D,25.40,RENT,1.0,15.0,...,NaN,NaN,debt_consolidation,10000.0,17.77,36 months,360.38,6362.96,Charged Off,0.0
2,46641215,Banker,5 years,135000.0,Verified,A,14.68,RENT,0.0,19.0,...,NaN,NaN,debt_consolidation,24000.0,6.39,36 months,734.38,24000.00,Fully Paid,0.0
3,87998444,executive director,9 years,188000.0,Source Verified,B,11.69,MORTGAGE,3.0,15.0,...,NaN,NaN,credit_card,27000.0,8.99,60 months,560.35,12443.00,Current,0.0
4,132883631,Subsea Technician,7 years,125000.0,Source Verified,B,9.00,MORTGAGE,1.0,6.0,...,NaN,NaN,debt_consolidation,22000.0,10.90,36 months,719.22,22000.00,Fully Paid,0.0

In [15]:
data.shape

(200000, 25)

### Validation dataset

In [45]:
val = data.sample(frac = 0.3)

In [10]:
val.to_csv('../../02_Data/02_Validation/validation.csv', index=False)

### Work dataset

In [16]:
work = data.loc[~data.index.isin(val.index)]

In [17]:
work.to_csv('../../02_Data/03_Work/work.csv', index=False)