# Data Quality

In [1]:
import numpy as np
import pandas as pd
from janitor import clean_names
%config IPCompleter.greedy=True
pd.options.display.float_format = '{:,.2f}'.format

## Import data

In [2]:
df = pd.read_csv('../../02_Data/03_Work/work.csv')
df

,Unnamed: 0,client_id,employment,employment_duration,income,verified_income,rating,dti,housing,num_mortgages,...,loan_id,description,purpose,principal,interest_rate,num_installments,installment_amount,amount_amortized,status,amount_recovered
0,0,137387967,Hvac technician,3 years,"54,000.00",Source Verified,A,19.31,MORTGAGE,2.00,...,NaN,NaN,debt_consolidation,"15,000.00",7.21,36 months,464.60,"2,669.06",Current,0.00
1,1,4798121,"Target Promotions and Marketing,Inc",10+ years,"65,000.00",Not Verified,D,25.40,RENT,1.00,...,NaN,NaN,debt_consolidation,"10,000.00",17.77,36 months,360.38,"6,362.96",Charged Off,0.00
2,2,46641215,Banker,5 years,"135,000.00",Verified,A,14.68,RENT,0.00,...,NaN,NaN,debt_consolidation,"24,000.00",6.39,36 months,734.38,"24,000.00",Fully Paid,0.00
3,3,87998444,executive director,9 years,"188,000.00",Source Verified,B,11.69,MORTGAGE,3.00,...,NaN,NaN,credit_card,"27,000.00",8.99,60 months,560.35,"12,443.00",Current,0.00
4,6,77861711,Correctional officer,10+ years,"50,000.00",Verified,C,29.31,MORTGAGE,1.00,...,NaN,NaN,debt_consolidation,"14,400.00",15.31,36 months,501.37,"2,310.49",Charged Off,"6,430.36"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139995,199994,119242742,NaN,NaN,"20,000.00",Source Verified,C,8.02,RENT,0.00,...,NaN,NaN,debt_consolidation,"2,500.00",12.62,36 months,83.78,996.06,Late (31-120 days),0.00
139996,199995,51876926,Office Manager,10+ years,"42,000.00",Not Verified,C,20.85,MORTGAGE,6.00,...,NaN,NaN,debt_consolidation,"8,000.00",12.29,36 months,266.83,"8,000.00",Fully Paid,0.00
139997,199996,121031962,Owner & President,6 years,"111,697.00",Verified,B,16.63,MORTGAGE,2.00,...,NaN,NaN,other,"10,000.00",9.44,36 months,320.05,"4,388.51",Current,0.00
139998,199998,53664762,Attorney,8 years,"168,000.00",Source Verified,E,4.69,RENT,0.00,...,NaN,NaN,small_business,"30,050.00",18.25,60 months,767.17,"2,964.44",Charged Off,"2,750.88"
139999,199999,94394801,NaN,NaN,"80,000.00",Not Verified,C,31.49,MORTGAGE,1.00,...,NaN,NaN,debt_consolidation,"10,000.00",13.99,36 months,341.73,"7,096.40",Current,0.00